<template>
  <v-card>
    <v-container>
      <v-col lg="12" sm="12" cols="12" class="d-flex justify-space-between">
        <v-text-field v-model="search" label="Buscar:" class="mx-4 pr-lg-16" @input="customFilter"/>
        <CreateCountry/>
      </v-col>
      <v-data-table :headers="columns" :items="countries" item-key="id">
        <template v-slot:no-data>
          <span>No Hay Nada</span>
        </template>
        <template #[`item.flag`]="{ item }">
          <v-img :src="item.flag" width="30" height="30"></v-img>
        </template>
        <template #[`item.status`]="{ item }">
          <v-chip
            small
            :color="item.status.color_status"
            class="font-weight-medium"
            @click.prevent="changeStatus(item.id, item.status.name)"
          >
            <v-icon>
              {{ icons.mdiPencilOutline }}
            </v-icon>
            {{ item.status.name }}
          </v-chip>
        </template>
        <template #[`item.options`]="{ item }">
          <v-btn color="success" @click.prevent="saludo(item)">
            <v-icon>
              {{icons.mdiPencilOutline}}
            </v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-container>
  </v-card>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Columns } from "@/interfaces/countries";
import { mdiPencilOutline } from "@mdi/js";
import CreateCountry from "@/views/Configuration/Countries/CreateCountry.vue";

@Component({
  components: {
    CreateCountry
  },
  setup(){
    return {
      icons: {
        mdiPencilOutline
      }
    }
  }
})
export default class Countries extends Vue {
  search = "";
  columns: Columns[] = [
    {
      text: "Id",
      align: "center",
      sortable: false,
      value: "id",
    },
    {
      text: "Nombre",
      align: "center",
      sortable: false,
      value: "name",
    },
    {
      text: "Acronimo",
      align: "center",
      sortable: false,
      value: "acronym",
    },
    {
      text: "Bandera",
      align: "center",
      sortable: false,
      value: "flag",
    },
    {
      text: "Min. pago con cashback",
      align: "center",
      sortable: false,
      value: "minimum_pay_by_cashback",
    },
    {
      text: "Max. pago con cashback",
      align: "center",
      sortable: false,
      value: "maximum_pay_by_cashback",
    },
    {
      text: "Estado",
      align: "center",
      sortable: false,
      value: "status",
    },
    {
      text: "Opciones",
      align: "center",
      sortable: false,
      value: "options",
    },
  ];

  mounted(): void {
    this.$store.dispatch("countries/getCountries");
  }

  public changeStatus(id: number, status: string) : void {
    const verb = status === "Activo" ? "inactivar" : "activar";
    const action = status === "Activo" ? "inactivalo" : "activalo";
    this.$store.dispatch('countries/changeStatus', {id, verb, action});
  }

  public customFilter (search: string | null) : void {
    if(search !== ""){
      this.$store.dispatch('countries/filterCountries', search);
    }

    this.$store.dispatch('countries/filterCountries', search);
  }

  public saludo(arg: any): void {
    console.log(arg);
  }

  get countries(): void {
    return this.$store.state.countries.countries;
  }
}
</script>
