<template>
  <v-dialog
    v-model="open"
    persistent
    max-width="800px"
  >
    <template v-slot:activator="{on, attrs}">
      <v-btn
        color="primary"
        v-on="on"
        v-bind="attrs"
      >Crear País</v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="text-h5">Crear País</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" sm="6" md="6" lg="6">
              <v-text-field v-model="country.name" label="Nombre del país" type="text"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6">
              <v-text-field v-model="country.acronym" label="Acronimo del país" type="text"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6">
              <v-text-field v-model="country.maximum_pay_by_cashback" label="Pago minimo con cashback(%)" type="number"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6">
              <v-text-field v-model="country.maximum_pay_by_cashback" label="Pago maximo con cashback(%)" type="number"></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import {Country} from "@/views/Configuration/Countries/interfaces";

@Component
export default class CreateCountry extends Vue {
  open = false;
  country: Country = {
    name: "",
    acronym: "",
    minimum_pay_by_cashback: 0,
    maximum_pay_by_cashback: 0
  }
}
</script>
