<template>
  <v-navigation-drawer
    class="app-navigation-menu"
    app
    floating
    :right="$vuetify.rtl"
    @input="(val) => $emit('update:is-drawer-open', val)"
    :value="isDrawerOpen"
  >
    <div class="vertical-nav-header d-flex items-center ps-6 pe-5 pt-5 pb-2">
      <router-link to="/" class="d-flex align-center text-decoration-none">
        <v-img
          class="app-logo me-3"
          eager
          contain
          alt="Logo"
          max-height="30px"
          max-width="30px"
          :src="require('@/assets/images/logos/logo.svg')"
        ></v-img>
        <v-slide-x-transition>
          <h2 class="app-title text--primary">MATERIO</h2>
        </v-slide-x-transition>
      </router-link>
    </div>
    <v-list expand shaped class="vertical-nav-menu-items pr-5">
      <MenuSectionTitle title="Analitica" />
      <LinkMenu title="Dashboard" to="/" :icon="icon.mdiViewDashboardVariant " />
      <MenuSectionTitle title="Configuración" />
      <LinkMenu title="Paises" to="/countries" :icon="icon.mdiEarth" />
      <LinkMenu title="Usuarios" to="/users" :icon="icon.mdiAccountGroup" />
    </v-list>
  </v-navigation-drawer>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import LinkMenu from "@/components/LinkMenu/LinkMenu.vue";
import MenuSectionTitle from "@/components/MenuSectionTitle/MenuSectionTitle.vue";
import MenuGroup from "@/components/MenuGroup/MenuGroup.vue";
import { Prop } from "vue-property-decorator";
import { mdiEarth, mdiViewDashboardVariant, mdiAccountGroup } from "@mdi/js";

@Component({
  components: {
    LinkMenu,
    MenuSectionTitle,
    MenuGroup,
  },
  setup() {
    return {
      icon: {
        mdiEarth,
        mdiViewDashboardVariant,
        mdiAccountGroup
      },
    };
  },
})
export default class SidebarMenu extends Vue {
  @Prop({ default: null }) readonly isDrawerOpen!: boolean;
}
</script>
<style lang="scss" scoped>
@import "vuetify/src/styles/styles.sass";

.app-title {
  font-size: 1.25rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.3px;
}

// ? Adjust this `translateX` value to keep logo in center when vertical nav menu is collapsed (Value depends on your logo)
.app-logo {
  transition: all 0.18s ease-in-out;
  .v-navigation-drawer--mini-variant & {
    transform: translateX(-4px);
  }
}

@include theme(app-navigation-menu) using ($material) {
  background-color: map-deep-get($material, "background");
}

.app-navigation-menu {
  .v-list-item {
    &.vertical-nav-menu-link {
      ::v-deep .v-list-item__icon {
        .v-icon {
          transition: none !important;
        }
      }
    }
  }
}

// You can remove below style
// Upgrade Banner
.app-navigation-menu {
  .upgrade-banner {
    position: absolute;
    bottom: 13px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.theme--light.app-navigation-menu[data-v-e2322ff2] {
  background-color: #f4f5fa;
}
</style>