<template>
  <div>
    <component :is="resolveLayout">
      <v-fade-transition>
        <router-view></router-view>
      </v-fade-transition>
    </component>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import LayoutBlank from "@/layout/LayoutBlank.vue";
import LayoutContent from "@/layout/LayoutContent.vue";

@Component({
  components: {
    LayoutBlank,
    LayoutContent,
  },
  watch: {
    $route(to) {
      console.log(to);
      document.title = to.meta.title || "Your Website";
    },
  },
})
export default class App extends Vue {
  get resolveLayout(): string {
    if (this.$store.state.auth.accessToken !== "") {
      return "layout-content";
    }
    return "layout-blank";
  }
}
</script>
<style lang="scss" scoped>
.theme--light.v-application {
  background: #f4f5fa;
  color: rgba(94, 86, 105, 0.87);
}
</style>