<template>
  <div class="auth-wrapper auth-v1">
    <div class="auth-inner">
      <v-card class="auth-card">
        <v-card-title class="d-flex align-center justify-center py7">
          <div class="d-flex align-center">
            <v-img
              class="me-3"
              max-width="30px"
              max-height="30px"
              alt="Logo"
              contain
              :src="require('@/assets/images/logos/logo.svg')"
            ></v-img>
            <h2 class="text-2xl font-weight-semibold">Materio</h2>
          </div>
        </v-card-title>
        <v-card-text>
          <p class="text-2xl font-weight-semibold text--primary mb-2">
            Bienvenido A Materio! 👋🏻
          </p>
          <p class="mb-2">Ingresa tus credenciales y comencemos la aventura</p>
        </v-card-text>
        <v-card-text>
          <v-form v-if="!verificationCode">
            <v-text-field
              v-model="user.email"
              type="text"
              class="mb-3"
              hide-details
              placeholder="Ingresa Tu Correo Electronico"
              label="Correo Electronico"
              outlined
            ></v-text-field>
            <v-text-field
              v-model="user.password"
              :type="isPasswordVisible ? 'text' : 'password'"
              class="mb-3"
              hide-details
              placeholder="Ingresa Tu Contraseña"
              label="Contraseña"
              outlined
              :append-icon="
                isPasswordVisible ? icons.mdiEyeOffOutline : icons.mdiEyeOutline
              "
              @click:append="isPasswordVisible = !isPasswordVisible"
            ></v-text-field>
            <v-btn
              block
              color="primary"
              class="mt-6"
              @click.prevent="authenticateUser"
            >
              Login
            </v-btn>
          </v-form>
          <v-form v-else>
            <v-text-field
              v-model="user.code"
              type="text"
              class="mb-3"
              hide-details
              placeholder="Ingresa El Codigo De Verificación"
              label="Correo Electronico"
              outlined
            ></v-text-field>
            <p>
              A tu correo electronico enviamos un codigo de verificación para
              verificar tu identidad.
            </p>
            <v-btn block color="primary" class="mt-6" @click.prevent="validateUser"> Login </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </div>
    <img
      class="auth-mask-bg"
      height="173"
      :src="
        require(`@/assets/images/misc/mask-${
          $vuetify.theme.dark ? 'dark' : 'light'
        }.png`)
      "
    />
    <v-img
      class="auth-tree"
      width="247"
      height="185"
      src="@/assets/images/misc/tree.png"
    ></v-img>
    <v-img
      class="auth-tree-3"
      width="377"
      height="289"
      src="@/assets/images/misc/tree-3.png"
    ></v-img>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { mdiEyeOffOutline, mdiEyeOutline } from "@mdi/js";
import { ref } from "@vue/composition-api";
import { User } from "./types";

@Component({
  setup() {
    const isPasswordVisible = ref(false);
    return {
      isPasswordVisible,
      icons: {
        mdiEyeOffOutline,
        mdiEyeOutline,
      },
    };
  },
})
export default class Login extends Vue {
  user: User = { email: "", password: "", code: "" };

  public authenticateUser(): void {
    this.$store.dispatch("auth/authenticateUser", this.user);
  }

  public validateUser(): void {
    this.$store.dispatch("auth/validateUser", this.user);
  }

  get verificationCode(): void {
    console.log(this.$store.state.auth.verificationCode)
    return this.$store.state.auth.verificationCode;
  }
}
</script>
<style lang="scss">
@import "@/plugins/default-preset/preset/pages/auth.scss";
</style>
